numpy
opencv-python
onnxruntime
torch
torchvision
einops
matplotlib
Pillow
pdfplumber
huggingface_hub
shapely
pyclipper
ruamel.yaml
cachetools
six
fastapi
uvicorn[standard]
python-multipart
paddlepaddle==3.0.0
paddleocr
pdf2image
mineru[pipeline]
loguru