numpy
opencv-python
onnxruntime-gpu
einops
matplotlib
Pillow
pdfplumber
huggingface_hub
shapely
pyclipper
ruamel.yaml
cachetools
six
fastapi
uvicorn[standard]
python-multipart
paddleocr
pdf2image
mineru[pipeline]
loguru
